body{
    background-color: black;
    color: white;
}
header{
    background-color: red;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    z-index: 1000;
    header {
    flex-direction: column;
    align-items: center;
}
}
main{

    margin-top: 130px;
}
#logo{
    display: flex;
    justify-content: center;
}
img{
    display: inline-block;
    vertical-align: top;
    float: right;
    object-fit: cover;
    aspect-ratio: 4/5;
    overflow: hidden;
}
main p{
    text-align: left;
    display: inline-block;
    align-items: flex-start;
    margin-left: 5%;
}
#htitu{
    width: 100%;
    color: red;
    text-align: center;
    display: inline-block;
    align-items: flex-start;
}
main h2{
    color: red;
}
footer{
    color: gray;
}
.conteiner{
    display: flex;
    justify-content: center;
    width: 50%;
    float: left;
}
#imgf{
    width: 50%;
    float: right;
}
nav{
    gap: 100px;
    position: static;
    align-self: center;
    width: 100%;
    text-align: center;
}
iframe{
    margin: 0 auto;
}
.shorts{
    display: inline-block;
    width: 300px; 
    height: 500px;
}
.vid{
    display: block;
    width: 500px;
    height: 300px;
}
